<!-- Header -->
<div class="gsphomeheader gsp-page-header">
  <div class="gsp-hero-inner">
    <img class="gsp-hero-logo" src="../../assets/images/gs_logo_home_kontakt.png" alt="GSP Legal Logo">
    <div class="gsp-hero-copy">
      <h1>{{'KONTAKT' | translate | uppercase}}</h1>
      <p>{{'CONTACT_HERO' | translate}}</p>
      <div class="gsp-hero-actions">
        <a class="gsp-hero-action" href="tel:+4313199470">{{'CTA_CALL' | translate}}</a>
      </div>
    </div>
  </div>
</div>

<!-- /.container -->
<div class="gspparagraph gsp-page-content" style="background-color: rgb(255,255,255)">
  <div class="gsp-contact-content">
    <address>
      <strong>GARGER SPALLINGER Rechtsanwälte GmbH</strong><br>
      Biberstraße 22, A-1010 Wien<br>
      {{ 'PHONE_LABEL' | translate }} <a class="gspkontaktemail" href="tel:+4313199470">+43-1-319 94 70</a>,
      Fax: <a class="gspkontaktemail" href="tel:+431319947070">+43-1-319 94 70-70</a><br/>
      <a class="gspkontaktemail" href="mailto:office@gsplegal.at">Email: office(AT)gsplegal.at </a>
    </address>
  </div>
</div>


<div class="gspparagraph gsp-page-content" style="background-color: rgb(255,255,255)">
  <div class="gsp-contact-content">
    <p class="gsptitlefont">{{'ANFAHRT' | translate | uppercase}} </p>
    <div>{{'ANFP1' | translate}} </div>
    <div>{{'ANFP2' | translate}} </div>
    <div>{{'ANFP3' | translate}} </div>
  </div>
</div>

<div class="gsp-page-content gsp-location-map">
  <div class="gsp-contact-content">
    <img class="gspanfahrt" src="../../assets/images/plan_kontakt.jpg" alt="Anfahrtsplan GARGER SPALLINGER Rechtsanwälte">
  </div>
</div>
