@import "../app.component.less";

.gsphomeheader {
  background-image: url("../../assets/images/header/header_kontakt.jpg");
  background-attachment: fixed; /* Parallax */
}

.gspanfahrt {
  display: block;
  width: 100%;
  max-width: 900px;
  height: auto;
  animation: fadeIn 2s ease forwards;
}

.gsp-contact-content {
  max-width: 1192px;
  margin: 0 auto;

  > address,
  > div,
  > p {
    max-width: 900px;
  }
}

.gsp-location-map {
  padding-bottom: 28px;
  background-color: rgb(255, 255, 255);
}

.gspkontaktemail {
  color: rgb(0,68,57);
}
.gspkontaktemail:hover {
  color: rgb(102, 143, 136);
}
