<!-- Header -->
<div class="gsptateigkeitsbereichheader gsp-page-header gsp-page-header--light-text">
  <div class="gsp-hero-inner">
    <img class="gsp-hero-logo" src="../../assets/images/gs_logo_subseiten.png" alt="GSP Legal Logo">
    <div class="gsp-hero-copy">
      <h1>{{'TAETIGKEITSBEREICH' | translate | uppercase}}</h1>
      <p>{{'TAETP1' | translate}}</p>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="gspparagraph gsp-page-content">
    <div class="row g-0">
      <div class="col-lg-12 px-0">
        <div class="row gsp-taetigkeit-grid">
          <!-- GESELLSCHAFTSRECHT -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3  gspcolimagecenter">
            <div class=" border-0 ">
              <div routerLink="../gesellschaftsrecht">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/gesellschaftsrecht.jpg">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'GESELLSCHAFTSRECHT' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- UMGRUENDUNGEN -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3  gspcolimagecenter">
            <div class=" border-0 ">
              <div routerLink="/umgruendungen">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/umgruendungen.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'UMGRUENDUNG' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Mergers & Acquisitions -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 gspcolimagecenter">
            <div class="border-0">
              <div routerLink="/mergers-acquisitions">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/taetigkeitsbereiche_mergers.jpg" alt="Mergers & Acquisitions">
                  <div class="gsptaetigkeitbottomcentered">
                    <span>{{'MERGERS_ACQUISITIONS' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Arbeitsrecht -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 gspcolimagecenter">
            <div class="border-0">
              <div routerLink="/arbeitsrecht">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/arbeitsrecht.jpg" alt="Arbeitsrecht">
                  <div class="gsptaetigkeitbottomcentered">
                    <span>{{'ARBEITSRECHT' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Global Mobility -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 gspcolimagecenter">
            <div class="border-0">
              <div routerLink="/global-mobility">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/international_global.jpg" alt="Global Mobility">
                  <div class="gsptaetigkeitbottomcentered">
                    <span>{{'GLOBAL_MOBILITY' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Banking & Finance -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 gspcolimagecenter">
            <div class="border-0">
              <div routerLink="/banking-finance">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/banken.jpg" alt="Banking & Finance">
                  <div class="gsptaetigkeitbottomcentered">
                    <span>{{'BANKEN' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Contract Law -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 gspcolimagecenter">
            <div class="border-0">
              <div routerLink="/contract-law">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/vertragsrecht.jpg" alt="Contract Law">
                  <div class="gsptaetigkeitbottomcentered">
                    <span>{{'CONTRACT_LAW' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Public Law / Öffentliches Recht -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 gspcolimagecenter">
            <div class="border-0">
              <div routerLink="/public-law">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/offentlichkeitsrecht.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span>{{'OEFFENTLICHKEITSRECHT' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Immobilienrecht -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 gspcolimagecenter">
            <div class="border-0">
              <div routerLink="/immobilienrecht">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/immobilienrecht.jpg" alt="Immobilienrecht">
                  <div class="gsptaetigkeitbottomcentered">
                    <span>{{'IMMOBILIENRECHT' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Zivilprozessrecht -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 gspcolimagecenter">
            <div class="border-0">
              <div routerLink="/zivilprozessrecht">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/zivilprozess.jpg" alt="Zivilprozessrecht">
                  <div class="gsptaetigkeitbottomcentered">
                    <span>{{'LITIGATION' | translate | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.container -->
