@import "../app.component.less";

.gsptateigkeitsbereichheader {
  height: 450px;
  background-image: url("../../assets/images/header/header_taetigkeitsbereiche.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding-top: 30px;
  animation: fadeIn 2s ease forwards;
  background-attachment: fixed; /* Parallax */
}


.gsptaetigkeitcontainer {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
  }
}
.gsptaetigkeitbottomcentered {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom:0px;
  background-color: rgb(97,96,85);
  opacity: 0.7;
  color: white;
}

.gsptitlefonttaetigkeit{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  color: white;
  padding-top: 30px;
}

